#vt100 #cursor.bright {
  background-color: white;
  color:            black;
}

#vt100 #cursor.dim {
  background-color: black;
  opacity:          0.2;
  -moz-opacity:     0.2;
  filter:           alpha(opacity=20);
}

#vt100 #scrollable {
  color:            #839496;
  background-color: #002b35;
}

#vt100 #scrollable.inverted {
  color:            #002b35;
  background-color: #839496;
}

#vt100 .ansiDef {
  color:            #839496;
}

#vt100 .ansiDefR {
  color:            #002b35;
}

#vt100 .bgAnsiDef {
  background-color: #002b35;
}

#vt100 .bgAnsiDefR {
  background-color: #839496;
}

#vt100 #scrollable.inverted .ansiDef {
  color:            #002b35;
}

#vt100 #scrollable.inverted .ansiDefR {
  color:            #839496;
}

#vt100 #scrollable.inverted .bgAnsiDef {
  background-color: #839496;
}

#vt100 #scrollable.inverted .bgAnsiDefR {
  background-color: #002b35;
}
