softcenter/to_remove.txt
tunnel
.lconfig.json.js
.htaccess
.user.ini
/homebridge/build
/homeassistant/build
/lnmp/build
/iscsi/build
/unifi/build
/cos/build
/ikev1/build
/netdata/build
/fastdick/build
/minieap/build
/zerotier/build
/kdisk/build
/transmission/build
/anyconnect/build
/acme/build
/policy/build
/ssrserver/build
/pppoeserver/build
/nwan/build
/routetable/build
/sqos/build
/n2n/build
/brook/build
/entware/build
/v2ray/build
/bbr/build
/nat1/build
