softcenter/to_remove.txt
tunnel
.lconfig.json.js
.htaccess
.user.ini
/homebridge/build
/lnmp/build
/iscsi/build
/unifi/build
/cos/build
/ikev1/build
/netdata/build
/fastdick/build
/minieap/build
/zerotier/build
